<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center" >
            <h1 class="mt-4">MANTENIMIENTO DE CARGOS</h1>
        </div>
        <div class="card-body">

            <form [formGroup]="myFormFilter">

                <div class="card bg-light mb-3">
                <div class="card-header">Busqueda</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="">Nombre Cargo</label>
                                    <input formControlName="nombreCargo" type="text" class="form-control">
                                </div>
                            </div>
                        <!-- <div class="col-3">
                            <div class="form-group">
                                <label for=""></label>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group">
                                <label for=""></label>
                            </div>
                        </div> -->
                        <div class="col-3">
                            <br>
                            <div class="form-group">
                                <button (click)="filtrar()" class="btn btn-primary btn-sm">
                                    <i class="fas fa-search"></i>
                                </button>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-broom"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            </form>

            
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>
                            <button (click)="crearCargo(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cargo of cargos">
                        <td>{{cargo.idCargo}}</td>
                        <td>{{cargo.nombreCargo}}</td>
                        <td>
                            <button (click)="editarCargo(modalEdit,cargo)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(cargo.idCargo)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-xs-8 col-8">
                    <!-- <pagination [totalItems]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination> -->
                    <pagination  (pageChanged)="changePage($event)" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [previousText]="'Anterior'" [nextText]="'Siguiente'">
                    </pagination>
                </div>
                <div class="col-xs-4 col-4">
                    <select (change)="changeItemsPerPage()" [(ngModel)]="itemsPerPage" class="form-select">
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="7">7</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #modalEdit>
  <app-mant-cargo-register
  [title]="titleModal"
  [cargo]="cargoSelected"
  [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
  ></app-mant-cargo-register>
</ng-template>