<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center" >
            <h1 class="mt-4">MANTENIMIENTO DE TIPOS DE DOCUMENTO</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>
                            <button (click)="crearTipoDocumento(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let tipoDocumento of tipoDocumentos">
                        <td>{{tipoDocumento.idTipoDocumento}}</td>
                        <td>{{tipoDocumento.nombreTipoDocumento}}</td>
                        <td>
                            <button (click)="editarTipoDocumento(modalEdit,tipoDocumento)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(tipoDocumento.idTipoDocumento)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #modalEdit>
  <app-mant-tipo-documento-register
  [title]="titleModal"
  [tipoDocumento]="tipoDocumentoSelected"
  [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
  ></app-mant-tipo-documento-register>
</ng-template>