<div class="container-fluid px-4 mt-5">
    <div class="card bg-light mb-3">
        <div class="card-header text-center" >
            <h1 class="mt-4">MANTENIMIENTO DE CLIENTES</h1>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>IDPersona</th>
                        <th>Telefono</th>
                        <th>Correo</th>
                        <th>
                            <button (click)="crearCliente(modalEdit)" class="btn btn-primary btn-sm">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th> 
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.idCliente}}</td>
                        <td>{{cliente.idPersona}}</td>
                        <td>{{cliente.telefonoCliente}}</td>
                        <td>{{cliente.correoCliente}}</td>
                        <td>
                            <button (click)="editarCliente(modalEdit,cliente)" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button (click)="eliminarRegistro(cliente.idCliente)" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #modalEdit>
  <app-mant-cliente-register
  [title]="titleModal"
  [cliente]="clienteSelected"
  [accion]="accionModal"
  (closeModalEmmit)="getCloseModalEmmit($event)"
  ></app-mant-cliente-register>
</ng-template>